<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.CarbuildMapper">
	
	<select id="select" parameterType="int" resultType="carbuildVO">
		select cb.codeno,cb.mid,cb.colid,cb.wid,cb.iid,cb.corder,m.mprice+c.colprice+w.wprice+i.iprice as carprice from carbuild cb
		INNER JOIN model m on cb.mid=m.mid
		INNER JOIN color c on cb.colid=c.colid
		INNER JOIN wheel w on cb.wid=w.wid
		INNER JOIN interior i on cb.iid=i.iid
		WHERE codeno=#{codeno}
	</select>
	<select id="selectall" resultType="carbuildVO">
		select cb.codeno,cb.mid,cb.colid,cb.wid,cb.iid,cb.corder,m.mprice+c.colprice+w.wprice+i.iprice as carprice from carbuild cb
		INNER JOIN model m on cb.mid=m.mid
		INNER JOIN color c on cb.colid=c.colid
		INNER JOIN wheel w on cb.wid=w.wid
		INNER JOIN interior i on cb.iid=i.iid
	</select>
	<select id="selectlast" resultType="int">
		SELECT MAX(codeno) AS cnt FROM carbuild
	</select>
	<select id="selectprice" resultType="int">
		SELECT m.mprice+co.colprice+w.wprice+i.iprice as price FROM model m
		INNER JOIN color co ON co.colid = #{colid}
		INNER JOIN wheel w ON w.wid = #{wid}
		INNER JOIN interior i ON i.iid = #{iid}
		WHERE m.mid = #{mid}
	</select>
	<insert id="insert" parameterType="carbuildVO">
		INSERT INTO carbuild VALUES (NULL,#{mid},#{colid},#{wid},#{iid},#{corder})
	</insert>
	<update id="update" parameterType="carbuildVO">
		UPDATE carbuild SET mid=#{mid}, colid=#{colid},wid=#{wid},iid=#{iid},corder=#{corder} WHERE codeno=#{codeno}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM carbuild WHERE codeno=#{codeno}
	</delete>
	
</mapper>




