<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.InteriorMapper">

	<select id="select" parameterType="int" resultType="interiorVO">
		SELECT * FROM interior WHERE iid=#{iid}
	</select>
	<select id="selectall" resultType="interiorVO">
		SELECT * FROM interior
	</select>
	<insert id="insert" parameterType="interiorVO">
		INSERT INTO interior VALUES (NULL,#{ioption},#{iprice})
	</insert>
	<update id="update" parameterType="interiorVO">
		UPDATE interior SET ioption=#{ioption},iprice=#{iprice} WHERE iid=#{iid}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM interior WHERE iid=#{iid}
	</delete>

</mapper>