<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.OrdersdetailMapper">
	
	<select id="select" parameterType="int" resultType="ordersdetailVO">
		SELECT * FROM ordersdetail WHERE odetailno=#{odetailno}
	</select>
	<select id="selectall" resultType="ordersdetailVO">
		SELECT * FROM ordersdetail
	</select>
	<select id="selectcodeno" parameterType="int" resultType="ordersdetailVO">
		SELECT * FROM ordersdetail WHERE codeno=#{codeno}
	</select>
	<select id="selectlast" resultType="int">
		SELECT MAX(odetailno) FROM ordersdetail
	</select>
	<insert id="insert" parameterType="ordersdetailVO">
		INSERT INTO ordersdetail VALUES (NULL,#{ostatus},#{shipdate},#{ordersno},#{codeno})
	</insert>
	<update id="update" parameterType="ordersdetailVO">
		UPDATE ordersdetail SET ostatus=#{ostatus},shipdate=#{shipdate},ordersno=#{ordersno},codeno=#{codeno} WHERE odetailno=#{odetailno}
	</update>
	<delete id="delete" parameterType="ordersdetailVO">
		DELETE FROM ordersdetail WHERE odetailno=#{odetailno}
	</delete>
</mapper>






