<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.OrdersMapper">
	
	<select id="select" parameterType="int" resultType="ordersVO">
		SELECT o.ordersno, o.uid, o.regdate, o.carprice,
		m.mid, co.colid, w.wid, i.iid,
		m.mname, co.coloption, w.woption,i.ioption,o.shipprice,o.pay,
		o.shipname, o.shipphone,o.shippost,o.shipaddr,o.shipdaddr,o.finalprice FROM orders o
		INNER JOIN model m ON m.mid = o.mid
		INNER JOIN color co ON co.colid = o.colid
		INNER JOIN wheel w ON w.wid = o.wid
		INNER JOIN interior i ON i.iid = o.iid
		WHERE ORDERSNO=#{ordersno}
	</select>
	<select id="selectall" resultType="ordersVO">
		SELECT o.ordersno, o.uid, o.regdate, o.carprice,
		m.mid, co.colid, w.wid, i.iid,
		m.mname, co.coloption, w.woption,i.ioption,o.shipprice,o.pay,
		o.shipname, o.shipphone,o.shippost,o.shipaddr,o.shipdaddr,o.finalprice FROM orders o
		INNER JOIN model m ON m.mid = o.mid
		INNER JOIN color co ON co.colid = o.colid
		INNER JOIN wheel w ON w.wid = o.wid
		INNER JOIN interior i ON i.iid = o.iid
	</select>
		<select id="selectlast" resultType="int">
		SELECT MAX(ordersno) FROM orders
	</select>
	<insert id="insert" parameterType="ordersVO">
		INSERT INTO orders VALUES (NULL,#{uid},SYSDATE(),#{carprice},#{mid},#{colid},#{wid},#{iid},#{shipprice},#{pay},#{shipname},#{shipphone},#{shippost},#{shipaddr},#{shipdaddr},#{finalprice})
	</insert>
	<update id="update" parameterType="ordersVO">
		UPDATE ORDERS SET uid=#{uid},carprice=#{carprice}, mid=#{mid}, colid=#{colid}, wid=#{wid}, iid=#{iid}, shipprice=#{shipprice},pay=#{pay},
		shipname=#{shipname},shipphone=#{shipphone},shippost=#{shippost}, shippost=#{shippost}, shipaddr=#{shipaddr}, shipdaddr=#{shipdaddr},finalprice=#{finalprice}
		WHERE ordersno=#{ordersno}
	</update>
	<delete id="delete" parameterType="ordersVO">
		DELETE FROM orders WHERE ordersno=#{ordersno}
	</delete>
</mapper>






