<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.WheelMapper">

	<select id="select" parameterType="int" resultType="wheelVO">
		SELECT * FROM wheel WHERE wid=#{wid}
	</select>
	<select id="selectall" resultType="wheelVO">
		SELECT * FROM wheel
	</select>
	<insert id="insert" parameterType="wheelVO">
		INSERT INTO wheel VALUES (NULL,#{woption},#{wprice})
	</insert>
	<update id="update" parameterType="wheelVO">
		UPDATE wheel SET woption=#{woption},wprice=#{wprice} WHERE wid=#{wid}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM wheel WHERE wid=#{wid}
	</delete>

</mapper>