<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<style>
#carimg{
	position: fixed;
}
#caroption{
	position: relative;
}
.tittle-margin{
	margin-bottom: 30px;	
}
#circle60{
	width:60px; height:60px;   
}
#circle55{
	width:55px; height:55px;   
}

.labelexpanded > input{
	display:none;	
}
.labelexpanded input:checked + .radio-btns{
	border:3px solid;
	border-radius: 50%;
	border-color: #4374D9;
}
</style>
<script th:inline="javascript">
// 가격 계산 함수
function getprice(mid, colid, wid, iid) {
	$.ajax({
		url:'/getprice',
		data:{'mid':mid, 'colid':colid, 'wid':wid, 'iid':iid},
		success:function(data){
			$('#price').text(data);
			console.log(data);
		}
	});
}

//쿠키 저장 함수
function setCookie(cname, cvalue, exdays) {
	const d = new Date();
	d.setTime(d.getTime() + (exdays*24*60*60*1000));
	let expires = "expires="+ d.toUTCString();
	document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}

$(document).ready(function(){
	// change image by clicking options
	var m = 102;
	var c = $('input[name="colid"]:checked').val();
	var w = $('input[name="wid"]:checked').val();
	var i = $('input[name="iid"]:checked').val();
	$("#carimg").attr('src', 'assets/images/carbuild/modelx/modelx_black_w19.png')
	getprice(m,c,w,i);
	$('input[name="colid"], input[name="wid"]').click(function(){
		c = $('input[name="colid"]:checked').val();
		w = $('input[name="wid"]:checked').val();
		i = $('input[name="iid"]:checked').val();
		$('#carimg').attr('width','auto');
		if (c == 200) {
			if (w == 300) {
				$("#carimg").fadeOut(100);
				$("#carimg").attr('src','assets/images/carbuild/modelx/modelx_black_w19.png').fadeIn(300);
			}else if (w == 301) {
				$("#carimg").fadeOut(100);
				$("#carimg").attr('src', 'assets/images/carbuild/modelx/modelx_black_w21.png').fadeIn(300);
			}
		}else if (c == 201) {
			if (w == 300) {
				$("#carimg").fadeOut(100);
				$("#carimg").attr('src', 'assets/images/carbuild/modelx/modelx_white_w19.png').fadeIn(300);
			}else if (w == 301) {
				$("#carimg").fadeOut(100);
				$("#carimg").attr('src', 'assets/images/carbuild/modelx/modelx_white_w21.png').fadeIn(300);
			}
		}else if (c == 202) {
			if (w == 300) {
				$("#carimg").fadeOut(100);
				$("#carimg").attr('src', 'assets/images/carbuild/modelx/modelx_red_w19.png').fadeIn(300);
			}else if (w == 301) {
				$("#carimg").fadeOut(100);
				$("#carimg").attr('src', 'assets/images/carbuild/modelx/modelx_red_w21.png').fadeIn(300);
			}
		}else if (c == 203) {
			if (w == 300) {
				$("#carimg").fadeOut(100);
				$("#carimg").attr('src', 'assets/images/carbuild/modelx/modelx_blue_w19.png').fadeIn(300);
			}else if (w == 301) {
				$("#carimg").fadeOut(100);
				$("#carimg").attr('src', 'assets/images/carbuild/modelx/modelx_blue_w21.png').fadeIn(300);
			}
		};
		getprice(m,c,w,i);
	});
	
	$('input[name="iid"]').click(function(){
		c = $('input[name="colid"]:checked').val();
		w = $('input[name="wid"]:checked').val();
		i = $('input[name="iid"]:checked').val();
		$("#carimg").attr('width','1400px');
		if (i == 400) {
			$("#carimg").fadeOut(100);
			$("#carimg").attr('src','assets/images/carbuild/modelx/modelx_black_interior.jpg').fadeIn(300);
		}else if (i == 401) {
			$("#carimg").fadeOut(100);
			$("#carimg").attr('src','assets/images/carbuild/modelx/modelx_white_interior.jpg').fadeIn(300);
		};
		getprice(m,c,w,i);
	});
	
	$('#togarage').click(function(){
		var session = '[[${session}]]';
		console.log(session);
		var mid = 102;
		var colid = $('input[name="colid"]:checked').val();
		var wid = $('input[name="wid"]:checked').val();
		var iid = $('input[name="iid"]:checked').val();
		var corder = 0;
		if (session == '{}') {
			// 로그인 정보가 없을 때
			// 쿠키에 견적 저장
			// 로그인 페이지로 이동하고 로그인 후 쿠키를 garage에 저장
			setCookie('mid',mid,1);
			setCookie('colid',colid,1);
			setCookie('wid',wid,1);
			setCookie('iid',iid,1);
			setCookie('corder',corder,1);
			var result = confirm('로그인 하시겠습니까?');
			if (result) {
				location.href = '/buildlogin';
			}
			//$('#togarage').attr('href','/buildlogin');
		}else {
			// 로그인 정보가 있을 때
			// carbuild와 garage에 register하고
			// 바로 garage로 이동
			$('#build').attr({
				'method':'post',
				'action':'/gogarage'
			});
			$('#build').submit();
		}
	});
});
</script>

<div id="div-top" class="container-fluid">
	<div class="row">
		<!-- 왼쪽 이미지 영역 -->
		<div class="col-sm-9">
			<img src="assets/images/carbuild/modelx/modelx_black.png" id="carimg">
		</div>
	   
		<!-- detail 선택 후 주문하기 -->
		<div class="col-sm-3" id="caroption">
		
			<!-- 모델명 및 사양 -->   
			<div class="selectbox">
				<div class="tittle-margin">
					<h1 class="text-black text-center">MODEL X</h1>
				</div>
				<div class="col-sm-4 text-center">
					<h4 style="display:inline;">499</h4>
					<h6 style="display:inline;">km</h6>
				</div>
				<div class="col-sm-4 text-center">
					<h4 style="display:inline;">240</h4>
					<h6 style="display:inline;">km/h</h6>
				</div>
				<div class="col-sm-4 text-center">
					<h4 style="display:inline;">3.9</h4>
					<h6 style="display:inline;">초</h6>
				</div>
				
				<div class="col-sm-4 text-center">
					<p>주행가능거리</p>
				</div>
				<div class="col-sm-4 text-center">
					<p>최고속도</p>
				</div>
				<div class="col-sm-4 text-center">
					<p>0.100km/h</p>
				</div>
			</div>
		
			<!-- 옵션 선택 폼 -->
			<form class="select-options" id="build">
				<input type="hidden" th:if="${session.loginusers != null}" th:value="${session.loginusers.uid}" name="uid">
				<input type="hidden" value="102" name="mid">
			<!-- 모델명 -->
			
				<!-- 색상 -->
				<div class="selectbox">
					<div class="tittle-margin">
						<h3 class="text-black text-center">색상</h3>
					</div>
					<div class="col-sm-3 text-center">
						<label class="labelexpanded" for="black">
							<input type="radio" name="colid" value="200" id="black" checked="checked" class="colorid">
							<div class="radio-btns">
								<img src="assets/images/1-black.png" class="img-circle" alt="col_Black">
							</div>
						</label>
					</div>
					<div class="col-sm-3 text-center">
						<label class="labelexpanded" for="white">
							<input type="radio" name="colid" value="201" id="white" class="colorid">
							<div class="radio-btns">
								<img src="assets/images/1-white.png" class="img-circle" alt="col_White">
							</div>
						</label>
					</div>
					<div class="col-sm-3 text-center">
						<label class="labelexpanded" for="red">
							<input type="radio" name="colid" value="202" id="red" class="colorid">
							<div class="radio-btns">
								<img src="assets/images/1-red.png" class="img-circle" alt="col_Red">
							</div>
						</label>
					</div>
					<div class="col-sm-3 text-center">
						<label class="labelexpanded" for="blue">
							<input type="radio" name="colid" value="203" id="blue" class="colorid">
							<div class="radio-btns">
								<img src="assets/images/1-blue.png" class="img-circle" alt="col_Blue">
							</div>
						</label>
					</div>
				</div>	
			
				<!-- 휠 -->
				<div class="selectbox">
					<div class="tittle-margin">
						<h3 class="text-black text-center"> 휠 </h3>
					</div>
					<div class="col-sm-3 text-center"></div>
					<div class="col-sm-3 text-center">
						<label class="labelexpanded">
							<input type="radio" name="wid" value="300" id="radio" checked="checked" class="wheelid">
							<div class="radio-btns">
								<img src="assets/images/carbuild/modelx/w_19.png" class="img-circle" alt="w_19" id="w_19">
							</div>
						</label>
					</div>
					<div class="col-sm-3 text-center">
						<label class="labelexpanded">
							<input type="radio" name="wid" value="301" id="radio" class="wheelid">
							<div class="radio-btns">
								<img src="assets/images/carbuild/modelx/w_21.png" class="img-circle" alt="w_21" id="w_21">
							</div>
						</label>
					</div> 
					<div class="col-sm-3 text-center"></div>
				</div>
			   		
				<!-- 인테리어 -->
				<div class="selectbox">
					<div class="tittle-margin">
						<h3 class="text-black text-center"> 인테리어 </h3>
					</div>
					<div class="col-sm-3 text-center"></div>
					<div class="col-sm-3 text-center">
						<label class="labelexpanded">
							<input type="radio" name="iid" value="400" id="radio" checked="checked">
							<div class="radio-btns">
								<img src="assets/images/3-black.png" class="img-circle" alt="inte_Black" id="circle60">
							</div>
						</label>
					</div>
					<div class="col-sm-3 text-center">
						<label class="labelexpanded">
							<input type="radio" name="iid" value="401" id="radio">
							<div class="radio-btns">
								<img src="assets/images/3-white.png" class="img-circle" alt="inte_white" id="circle60">
							</div>
						</label>
					</div>	
					<div class="col-sm-3 text-center"></div>
				</div>
				
				<!-- 가격 표시 -->
				<div class="selectbox">
					<div class="tittle-margin">
						<h3 class="text-black text-center"> 예상 가격 </h3>
					</div>
					<div class="col-sm-3 text-center"></div>
					<div class="col-sm-6 text-center">
						<section>
						    <div class="overlay"></div>
						    <div class="container">
						        <div class="row">
									<div class="main_counter text-center">
									    <div class="col-md-2">
									        <div class="counter_item">
									            <h2 class="statistic-counter" id="price"></h2>
									            <h2>&#8361;</h2>
									        </div>
									    </div>
									</div>
						        </div><!--End off row-->
							</div><!--End off container -->
						</section> <!--End off Home Sections-->
					</div>
					<div class="col-sm-3 text-center"></div>
				</div>
				
				<!-- 주문하기 -->
				<div class="selectbox">
					<div class="tittle-margin">
						<h3 class="text-black text-center">내 차고에 담기</h3>
					</div>
					<div class="home_text text-center">
						<button type="button" class="btn btn-primary" id="togarage">차고에 담기</button>
					</div>
				</div>
			</form>
		</div>	
	</div>
</div>

