<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<style>
#carimg{
	position: fixed;
}
#caroption{
	position: relative;
}
.tittle-margin{
	margin-bottom: 30px;	
}
.labelexpanded > input{
	display:none;	
}
.labelexpanded input:checked + .radio-btns{
	border:3px solid;
	border-radius: 50%;
	border-color: #4374D9;
}
</style>
<script th:inline="javascript">
// 가격 계산 함수
function getprice(mid, colid, wid, iid) {
	$.ajax({
		url:'/getprice',
		data:{'mid':mid, 'colid':colid, 'wid':wid, 'iid':iid},
		success:function(data){
			data = data.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
			$('#price').text(data);
		}
	});
}
// 쿠키 저장 함수
function setCookie(cname, cvalue, exdays) {
	const d = new Date();
	d.setTime(d.getTime() + (exdays*24*60*60*1000));
	let expires = "expires="+ d.toUTCString();
	document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}

$(document).ready(function(){
	// change image by clicking options
	var m = 101;
	var c = $('input[name="colid"]:checked').val();
	var w = $('input[name="wid"]:checked').val();
	var i = $('input[name="iid"]:checked').val();
	$("#carimg").attr('src', 'assets/images/carbuild/modely/modely_black_w19.png')
	getprice(m,c,w,i);
	$('input[name="colid"], input[name="wid"]').click(function(){
		c = $('input[name="colid"]:checked').val();
		w = $('input[name="wid"]:checked').val();
		i = $('input[name="iid"]:checked').val();
		$('#carimg').attr('width','auto');
		if (c == 200) {
			if (w == 300) {
				$("#carimg").fadeOut(100);
				$("#carimg").attr('src','assets/images/carbuild/modely/modely_black_w19.png').fadeIn(300);
			}else if (w == 301) {
				$("#carimg").fadeOut(100);
				$("#carimg").attr('src', 'assets/images/carbuild/modely/modely_black_w21.png').fadeIn(300);
			}
		}else if (c == 201) {
			if (w == 300) {
				$("#carimg").fadeOut(100);
				$("#carimg").attr('src', 'assets/images/carbuild/modely/modely_white_w19.png').fadeIn(300);
			}else if (w == 301) {
				$("#carimg").fadeOut(100);
				$("#carimg").attr('src', 'assets/images/carbuild/modely/modely_white_w21.png').fadeIn(300);
			}
		}else if (c == 202) {
			if (w == 300) {
				$("#carimg").fadeOut(100);
				$("#carimg").attr('src', 'assets/images/carbuild/modely/modely_red_w19.png').fadeIn(300);
			}else if (w == 301) {
				$("#carimg").fadeOut(100);
				$("#carimg").attr('src', 'assets/images/carbuild/modely/modely_red_w21.png').fadeIn(300);
			}
		}else if (c == 203) {
			if (w == 300) {
				$("#carimg").fadeOut(100);
				$("#carimg").attr('src', 'assets/images/carbuild/modely/modely_blue_w19.png').fadeIn(300);
			}else if (w == 301) {
				$("#carimg").fadeOut(100);
				$("#carimg").attr('src', 'assets/images/carbuild/modely/modely_blue_w21.png').fadeIn(300);
			}
		};
		getprice(m,c,w,i);
	});
	
	$('input[name="iid"]').click(function(){
		c = $('input[name="colid"]:checked').val();
		w = $('input[name="wid"]:checked').val();
		i = $('input[name="iid"]:checked').val();
		$("#carimg").attr('width','1380px');
		if (i == 400) {
			$("#carimg").fadeOut(100);
			$("#carimg").attr('src','assets/images/carbuild/modely/modely_black_interior.jpg').fadeIn(300);
		}else if (i == 401) {
			$("#carimg").fadeOut(100);
			$("#carimg").attr('src','assets/images/carbuild/modely/modely_white_interior.jpg').fadeIn(300);
		};
		getprice(m,c,w,i);
	});
	
	$('#togarage').click(function(){
		var session = '[[${session}]]';
		var mid = 101;
		var colid = $('input[name="colid"]:checked').val();
		var wid = $('input[name="wid"]:checked').val();
		var iid = $('input[name="iid"]:checked').val();
		var corder = 0;
		if (session == '{}') {
			// 로그인 정보가 없을 때
			// 쿠키에 견적 저장
			// 로그인 페이지로 이동하고 로그인 후 쿠키를 garage에 저장
			setCookie('mid',mid,1);
			setCookie('colid',colid,1);
			setCookie('wid',wid,1);
			setCookie('iid',iid,1);
			setCookie('corder',corder,1);
			var result = confirm('로그인 하시겠습니까?');
			if (result) {
				location.href = '/buildlogin';
			}
		}else {
			// 로그인 정보가 있을 때
			// carbuild와 garage에 register하고
			// 바로 garage로 이동
			$('#build').attr({
				'method':'post',
				'action':'/gogarage'
			});
			$('#build').submit();
		}
	});
});
</script>

<div id="div-top" class="container-fluid">
	<div class="row">
		<!-- 왼쪽 이미지 영역 -->
		<div class="col-sm-9">
			<img src="assets/images/carbuild/modely/modely_black.png" id="carimg">
		</div>
	   
		<!-- detail 선택 후 주문하기 -->
		<div class="col-sm-3" id="caroption">
		
			<!-- 모델명 및 사양 -->   
			<div class="selectbox">
				<div class="tittle-margin">
					<h1 class="text-black text-center">MODEL Y</h1>
					<h3 class="text-black text-center" data-th-text="${#numbers.formatInteger(model.mprice, 0, 'COMMA') + '&#8361;'}"></h3>
				</div>
				<div class="col-sm-4 text-center">
					<h4 style="display:inline;">511</h4>
					<h6 style="display:inline;">km</h6>
				</div>
				<div class="col-sm-4 text-center">
					<h4 style="display:inline;">217</h4>
					<h6 style="display:inline;">km/h</h6>
				</div>
				<div class="col-sm-4 text-center">
					<h4 style="display:inline;">5.0</h4>
					<h6 style="display:inline;">초</h6>
				</div>
				
				<div class="col-sm-4 text-center">
					<p>주행가능거리</p>
				</div>
				<div class="col-sm-4 text-center">
					<p>최고속도</p>
				</div>
				<div class="col-sm-4 text-center">
					<p>0.100km/h</p>
				</div>
			</div>
		
			<!-- 옵션 선택 폼 -->
			<form class="select-options" id="build">
				<input type="hidden" th:if="${session.loginusers != null}" th:value="${session.loginusers.uid}" name="uid">
				<input type="hidden" value="101" name="mid">
			<!-- 모델명 -->
			
				<!-- 색상 -->
				<div class="selectbox">
					<div class="tittle-margin">
						<h3 class="text-black text-center">색상</h3>
					</div>
					<div th:each="c : ${color}">
						<div class="col-xs-3 text-center" th:if="${c.colid} == 200">
							<label class="labelexpanded" for="black">
								<input type="radio" name="colid" value="200" id="black" checked="checked" class="colorid">
								<div class="radio-btns">
									<img src="assets/images/1-black.png" class="img-circle" alt="col_Black">
								</div>
							</label>
							<h6 data-th-text="${#numbers.formatInteger(c.colprice, 0, 'COMMA') + '&#8361;'}"></h6>
						</div>
						<div class="col-xs-3 text-center" th:if="${c.colid} == 201">
							<label class="labelexpanded" for="white">
								<input type="radio" name="colid" value="201" id="white" class="colorid">
								<div class="radio-btns">
									<img src="assets/images/1-white.png" class="img-circle" alt="col_White">
								</div>
							</label>
							<h6 data-th-text="${#numbers.formatInteger(c.colprice, 0, 'COMMA') + '&#8361;'}"></h6>
						</div>
						<div class="col-xs-3 text-center" th:if="${c.colid} == 202">
							<label class="labelexpanded" for="red">
								<input type="radio" name="colid" value="202" id="red" class="colorid">
								<div class="radio-btns">
									<img src="assets/images/1-red.png" class="img-circle" alt="col_Red">
								</div>
							</label>
							<h6 data-th-text="${#numbers.formatInteger(c.colprice, 0, 'COMMA') + '&#8361;'}"></h6>
						</div>
						<div class="col-xs-3 text-center" th:if="${c.colid} == 203">
							<label class="labelexpanded" for="blue">
								<input type="radio" name="colid" value="203" id="blue" class="colorid">
								<div class="radio-btns">
									<img src="assets/images/1-blue.png" class="img-circle" alt="col_Blue">
								</div>
							</label>
							<h6 data-th-text="${#numbers.formatInteger(c.colprice, 0, 'COMMA') + '&#8361;'}"></h6>
						</div>
					</div>
					
				</div>	
			
				<!-- 휠 -->
				<div class="selectbox">
					<div class="tittle-margin">
						<h3 class="text-black text-center"> 휠 </h3>
					</div>
					<div class="col-xs-3 text-center"></div>
					
					<div th:each="w : ${wheel}">
						<div class="col-xs-3 text-center" th:if="${w.wid} == 300">
							<label class="labelexpanded" for="w19">
								<input type="radio" name="wid" value="300" id="w19" checked="checked" class="wheelid">
								<div class="radio-btns">
									<img src="assets/images/carbuild/models/w_19.png" class="img-circle" alt="whe_Black" id="w_19">
								</div>
							</label>
							<h6 data-th-text="${#numbers.formatInteger(w.wprice, 0, 'COMMA') + '&#8361;'}"></h6>
						</div>
						<div class="col-xs-3 text-center" th:if="${w.wid} == 301">
							<label class="labelexpanded" for="w21">
								<input type="radio" name="wid" value="301" id="w21" class="wheelid">
								<div class="radio-btns">
									<img src="assets/images/carbuild/models/w_21.png" class="img-circle" alt="whe_White" id="w_21">
								</div>
							</label>
							<h6 data-th-text="${#numbers.formatInteger(w.wprice, 0, 'COMMA') + '&#8361;'}"></h6>
						</div>
					</div>
					
					<div class="col-xs-3 text-center"></div>
				</div>
			   		
				<!-- 인테리어 -->
				<div class="selectbox">
					<div class="tittle-margin">
						<h3 class="text-black text-center"> 인테리어 </h3>
					</div>
					<div class="col-xs-3 text-center"></div>
					
					<div th:each="i : ${interior}">
						<div class="col-xs-3 text-center" th:if="${i.iid} == 400">
							<label class="labelexpanded" for="iblack">
								<input type="radio" name="iid" value="400" id="iblack" checked="checked">
								<div class="radio-btns">
									<img src="assets/images/3-black.png" class="img-circle" alt="inte_Black">
								</div>
							</label>
							<h6 data-th-text="${#numbers.formatInteger(i.iprice, 0, 'COMMA') + '&#8361;'}"></h6>
						</div>
						<div class="col-xs-3 text-center" th:if="${i.iid} == 401">
							<label class="labelexpanded" for="iwhite">
								<input type="radio" name="iid" value="401" id="iwhite">
								<div class="radio-btns">
									<img src="assets/images/3-white.png" class="img-circle" alt="inte_white">
								</div>
							</label>
							<h6 data-th-text="${#numbers.formatInteger(i.iprice, 0, 'COMMA') + '&#8361;'}"></h6>
						</div>
					</div>
					
					<div class="col-xs-3 text-center"></div>
				</div>
			
				<!-- 가격 표시 -->
				<div class="selectbox">
					<div class="tittle-margin">
						<h3 class="text-black text-center"> 예상 가격 </h3>
					</div>
					<div class="col-sm-3 text-center"></div>
					<div class="col-sm-6 text-center">
						<section>
						    <div class="overlay"></div>
						    <div class="container">
						        <div class="row">
									<div class="main_counter text-center">
									    <div class="col-md-2">
									        <div class="counter_item">
										            <h2 class="statistic-counter" id="price"></h2>
										            <h2>&#8361;</h2>
									        </div>
									    </div>
									</div>
						        </div><!--End off row-->
							</div><!--End off container -->
						</section> <!--End off Home Sections-->
					</div>
					<div class="col-sm-3 text-center"></div>
				</div>
			
				<!-- 주문하기 -->
				<div class="selectbox">
					<div class="tittle-margin">
						<h3 class="text-black text-center">내 차고에 담기</h3>
					</div>
					<div class="home_text text-center">
						<button type="button" class="btn btn-primary" id="togarage">차고에 담기</button>
					</div>
				</div>
			</form>
		</div>	
	</div>
</div>

