<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div th:if="${session.loginusers != null}">
<div th:if="${session.loginusers.uid == uid}">
	<div id="div-top" class="text-center" style="background-color:#E5DEC9;">
		<h1>내 차고</h1>
		<h4>My Garage</h4>
		<p>내가 디자인한 나만의 멀티슬라 자동차 리스트와 주문건을 확인할 수 있습니다.</p>
	</div>
	<div class="col-md-1"></div>					
	<div class="col-md-5">
		<!--Cart Section-->
		<section id="gallery" class="gallery margin-top-50 bg-white">
			<!-- Cart container-->
			<div class="container">
				<div class="row">
					<div class="main-gallery main-model roomy-80">						
						<div class="col-md-12 m-bottom-60 m-top-60">
							<h3>My Multisla</h3>							
							<div class="filters-button-group sm-text-center">
								<button class="button is-checked" data-filter="*">View all</button>
								<button class="button" data-filter=".S">MODEL S</button>
								<button class="button" data-filter=".X">MODEL X</button>
								<button class="button" data-filter=".Y">MODEL Y</button>

							</div>
						</div>
						<div style="clear: both;"></div>
					
						<!--
						 각각의 codeno 이미지를 each로 돌리고
						 view detail을 누르면 gid의 garagedetail 페이지로 이동
						 -->
					                    
						<div class="grid models text-center">
							<div  th:each="u : ${ugarage}">
							<div  class="grid-item model-item " th:if ="${u.corder} == false" th:classappend="${u.mname} ? ${u.mname}">
								<img alt="????" th:src="@{'assets/images/garage/'+${u.mname}+'_'+${u.coloption}+'_'+${u.woption}+'.png'}">
								<a th:href="@{garagedetail(gid=${u.gid})}" class="btn btn-default m-top-20">View Details</a>
							    
							    <h5 class="m-top-20" th:text="${u.mname}"></h5>
							    <h5 th:if ="${u.corder} == true" th:text="Ordered"></h5>  			
							</div><!-- End off grid item -->
							</div>
						</div>
						
					</div>
				</div>
			</div><!-- Cart container end -->
		</section><!-- End off Cart section -->
		</div>
	</div>
	
		<div class="col-md-5">
		<section id="gallery" class="gallery margin-top-50 bg-white">
			<!-- Order completed container-->
			<div class="container">
				<div class="row">
					<div class="main-gallery main-model roomy-80">
						<div class="col-md-12 m-bottom-60 m-top-60">
							<h3>Order Completed</h3>
							<div class="filters-button-group sm-text-center">
								<button class="button is-checked" data-filter="*">View all</button>
							</div>
						</div>
						<div style="clear: both;"></div>
						<div class="grid models text-center">
							<div  th:each="u : ${ugarage}">
							<div  class="grid-item model-item " th:if ="${u.corder} == true" th:classappend="${u.mname} ? ${u.mname}">
								<img alt="????" th:src="@{'assets/images/garage/'+${u.mname}+'_'+${u.coloption}+'_'+${u.woption}+'.png'}">
								<a th:href="@{garagedetail(gid=${u.gid})}" class="btn btn-default m-top-20">View Details</a>
							    
							    <h5 class="m-top-20" th:text="${u.mname}"></h5>			
							</div><!-- End off grid item -->
							</div>
						</div>
					</div>
				</div>
			</div><!-- Order completed container end -->
		</section><!-- End off Order completed section -->
		
	</div>
	<div class="col-md-1"></div>
	<div id="div-top" class="container-fluid" th:unless="${session.loginusers.uid == uid}">
		<h1 class="text-black text-center">잘못 된 경로입니다.</h1>
	</div>
</div>
<div id="div-top" class="container-fluid" th:unless="${session.loginusers != null}">
	<h1 class="text-black text-center">잘못 된 경로입니다.</h1>
</div>
</html>