<meta charset="utf-8">



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            <!--Portfolio Section-->
            <section id="gallery" class="gallery margin-top-120 bg-white">
                <!-- Portfolio container-->
                <div class="container">
                    <div class="row">
                        <div class="main-gallery main-model roomy-80">
                            <div class="col-md-12 m-bottom-60">
                                <div class="filters-button-group sm-text-center">
                                    <button class="button is-checked" data-filter="*">View all</button>
                                    <button class="button" data-filter=".metal">MODEL1</button>
                                    <button class="button" data-filter=".transition">MODEL2</button>
                                    <button class="button" data-filter=".alkali">MODEL3</button>
                                    <button class="button" data-filter=".ar">MODEL4</button>
                                </div>
                            </div>

                            <div style="clear: both;"></div>
				
		
                            <!--
                             각각의 codeno 이미지를 each로 돌리고
                             view detail을 누르면 gid의 garagedetail 페이지로 이동
                             
                             -->
                            <div class="grid models text-center">
                            	<!--  div th:each="u : ${ugarage}" class="'grid-item model-item transition'+${u.mid}" -->
                                <div th:each="u : ${ugarage}" class="grid-item model-item transition metal ium" >
                                    <img alt="" src="assets/images/model/1.jpg">
									<a th:href="@{garagedetail(gid=${u.gid})}" class="btn btn-default m-top-20">View Details<i class="fa fa-long-arrow-right"></i></a>
                   				<!-- th:src="@{'assets/imges/model/'+${u.codeno}'.jpg'}" -->
                                </div><!-- End off grid item -->

	
                                
                            </div>

                            <div style="clear: both;"></div>

                        </div>
                    </div>
                </div><!-- Portfolio container end -->
            </section><!-- End off portfolio section -->

