<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<style>
#carimg{
	position: fixed;
}
#caroption{
	position: relative;
}
.tittle-margin{
	margin-bottom: 30px;	
}
.labelexpanded > input{
	display:none;	
}
.labelexpanded input:checked + .radio-btns{
	border:3px solid;
	border-radius: 50%;
	border-color: #4374D9;
}
</style>
<script th:inline="javascript">
// 가격 계산 함수
function getprice(mid, colid, wid, iid) {
	$.ajax({
		url:'/getprice',
		data:{'mid':mid, 'colid':colid, 'wid':wid, 'iid':iid},
		success:function(data){
			$('#price').text(data);
			console.log(data);
		}
	});
};

// id를 넣으면 model or color or wheel or interior의 옵션 명을 알려준다
function getname(id) {
	var name = '';
	$.ajax({
		url:'/getname',
		data:{'id':id},
		async: false,
		success:function(data){
			name = data;
		}
	});
	return name;
};

$(document).ready(function(){
	// 이미 설정된 옵션에 맞게 radio 버튼 선택
	var m = '[[${m.mid}]]';
	var c = '[[${c.colid}]]';
	var w = '[[${w.wid}]]';
	var i = '[[${i.iid}]]';
	$('input[name=colid][value='+c+']').attr('checked', true);
	$('input[name=wid][value='+w+']').attr('checked', true);
	$('input[name=iid][value='+i+']').attr('checked', true);
	getprice(m,c,w,i);
	
	// color나 wheel옵션을 선택하면 해당하는 사진 표시
	$('input[name="colid"], input[name="wid"]').click(function(){
		c = $('input[name="colid"]:checked').val();
		w = $('input[name="wid"]:checked').val();
		i = $('input[name="iid"]:checked').val();
		var mname = getname(m);
		var coloption = getname(c);
		var woption = getname(w);
		var ioption = getname(i);
		$('#carimg').attr('width','auto');
		$("#carimg").fadeOut(100);
		$("#carimg").attr('src',"assets/images/garage/"+mname+"_"+coloption+"_"+woption+".png").fadeIn(300);
		getprice(m,c,w,i);
	});
	
	// interior 옵션을 선택하면 interior 사진 표시
	$('input[name="iid"]').click(function(){
		c = $('input[name="colid"]:checked').val();
		w = $('input[name="wid"]:checked').val();
		i = $('input[name="iid"]:checked').val();
		var mname = getname(m);
		var coloption = getname(c);
		var woption = getname(w);
		var ioption = getname(i);
		$("#carimg").attr('width','1400px');
		$("#carimg").fadeOut(100);
		$("#carimg").attr('src',"assets/images/garage/"+mname+"_"+ioption+"_Interior.jpg").fadeIn(300);
		getprice(m,c,w,i);
	});
	
	// 버튼을 누르면 수정을 완료하고 garage 페이지로 이동
	$('#togarage').click(function(){
		$('#build').attr({
			'method':'post',
			'action':'/modifybuild'
		});
		$('#build').submit();
	});
});
</script>

<div th:if="${session.loginusers != null}">
	<div id="div-top" class="container-fluid" th:if="${session.loginusers.uid == g.uid}">
		<div class="row">
			<!-- 왼쪽 이미지 영역 -->
			<div class="col-sm-9">
				<img th:src="@{'assets/images/garage/'+${m.mname}+'_'+${c.coloption}+'_'+${w.woption}+'.png'}" id="carimg">
			</div>
		   
			<!-- detail 선택 후 주문하기 -->
			<div class="col-sm-3" id="caroption">
			
				<!-- 모델명 및 사양 -->   
				<div class="selectbox">
					<div class="tittle-margin">
						<h1 class="text-black text-center" th:text="${m.mname}"></h1>
					</div>
				</div>
			
				<!-- 옵션 선택 폼 -->
				<form class="select-options" id="build">
					<input type="hidden" th:value="${session.loginusers.uid}" name="uid">
					<input type="hidden" th:value=${car.codeno} name="codeno">
					<input type="hidden" th:value="${m.mid}" name="mid">
				<!-- 모델명 -->
				
					<!-- 색상 -->
					<div class="selectbox">
						<div class="tittle-margin">
							<h3 class="text-black text-center">색상</h3>
						</div>
						<div class="col-xs-3 text-center">
							<label class="labelexpanded" for="black">
								<input type="radio" name="colid" value="200" id="black" checked="checked" class="colorid">
								<div class="radio-btns">
									<img src="assets/images/1-black.png" class="img-circle" alt="col_Black">
								</div>
							</label>
						</div>
						<div class="col-xs-3 text-center">
							<label class="labelexpanded" for="white">
								<input type="radio" name="colid" value="201" id="white" class="colorid">
								<div class="radio-btns">
									<img src="assets/images/1-white.png" class="img-circle" alt="col_White">
								</div>
							</label>
						</div>
						<div class="col-xs-3 text-center">
							<label class="labelexpanded" for="red">
								<input type="radio" name="colid" value="202" id="red" class="colorid">
								<div class="radio-btns">
									<img src="assets/images/1-red.png" class="img-circle" alt="col_Red">
								</div>
							</label>
						</div>
						<div class="col-xs-3 text-center">
							<label class="labelexpanded" for="blue">
								<input type="radio" name="colid" value="203" id="blue" class="colorid">
								<div class="radio-btns">
									<img src="assets/images/1-blue.png" class="img-circle" alt="col_Blue">
								</div>
							</label>
						</div>
					</div>	
				
					<!-- 휠 -->
					<div class="selectbox">
						<div class="tittle-margin">
							<h3 class="text-black text-center"> 휠 </h3>
						</div>
						<div class="col-xs-3 text-center"></div>
						<div class="col-xs-3 text-center">
							<label class="labelexpanded" for="w19">
								<input type="radio" name="wid" value="300" id="w19" checked="checked" class="wheelid">
								<div class="radio-btns">
									<img src="assets/images/carbuild/models/w_19.png" class="img-circle" alt="whe_Black" id="w_19">
								</div>
							</label>
						</div>
						<div class="col-xs-3 text-center">
							<label class="labelexpanded" for="w21">
								<input type="radio" name="wid" value="301" id="w21" class="wheelid">
								<div class="radio-btns">
									<img src="assets/images/carbuild/models/w_21.png" class="img-circle" alt="whe_White" id="w_21">
								</div>
							</label>
						</div>
						<div class="col-xs-3 text-center"></div>
					</div>
				   		
					<!-- 인테리어 -->
					<div class="selectbox">
						<div class="tittle-margin">
							<h3 class="text-black text-center"> 인테리어 </h3>
						</div>
						<div class="col-xs-3 text-center"></div>
						<div class="col-xs-3 text-center">
							<label class="labelexpanded" for="iblack">
								<input type="radio" name="iid" value="400" id="iblack" checked="checked">
								<div class="radio-btns">
									<img src="assets/images/3-black.png" class="img-circle" alt="inte_Black">
								</div>
							</label>
						</div>
						<div class="col-xs-3 text-center">
							<label class="labelexpanded" for="iwhite">
								<input type="radio" name="iid" value="401" id="iwhite">
								<div class="radio-btns">
									<img src="assets/images/3-white.png" class="img-circle" alt="inte_white">
								</div>
							</label>
						</div>	
						<div class="col-xs-3 text-center"></div>
					</div>
					
					<!-- 가격 표시 -->
					<div class="selectbox">
						<div class="tittle-margin">
							<h3 class="text-black text-center"> 예상 가격 </h3>
						</div>
						<div class="col-sm-3 text-center"></div>
						<div class="col-sm-6 text-center">
							<section>
							    <div class="overlay"></div>
							    <div class="container">
							        <div class="row">
										<div class="main_counter text-center">
										    <div class="col-md-2">
										        <div class="counter_item">
										            <h2 class="statistic-counter" id="price"></h2>
										            <h2>&#8361;</h2>
										        </div>
										    </div>
										</div>
							        </div><!--End off row-->
								</div><!--End off container -->
							</section> <!--End off Home Sections-->
						</div>
						<div class="col-sm-3 text-center"></div>
					</div>
					
				
					<!-- 주문하기 -->
					<div class="selectbox">
						<div class="tittle-margin">
							<h3 class="text-black text-center">내 차고에 담기</h3>
						</div>
						<div class="home_text text-center">
							<button type="button" class="btn btn-primary" id="togarage">수정하기</button>
						</div>
					</div>
				</form>
			</div>	
		</div>
	</div>
	<div id="div-top" class="container-fluid" th:unless="${session.loginusers.uid == g.uid}">
		<h1 class="text-black text-center">잘못 된 경로입니다.</h1>
	</div>
</div>

<div id="div-top" class="container-fluid" th:unless="${session.loginusers != null}">
	<h1 class="text-black text-center">잘못 된 경로입니다.</h1>
</div>
